body {
  color: #333333;
  padding-top: 60px;
}
#applicationHost,
.navbar-fixed-top .container {
  padding-left: 1em;
}
.loader {
  margin: 6px 8px 4px 8px;
  visibility: hidden;
  color: #fff;
}
.loader.active {
  visibility: visible;
}
